.container{
    
    width: 950px;
    background-color: silver;
    margin: 2px auto;
    padding: 5px;
}
.top-nav {
    display: block;
    height: 150px;
    background-color: green;
    margin: 5px;
}
.side-nav {
    display: inline-block;
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 5px;
    vertical-align: top;
}
.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 16px;
}
.sub-content {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 5px;
    padding: 5px;
}
#advertisement {
    display: block;
    height: 120px;
    background-color: purple;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 35px;
}